.wtem-bank {
    @extend .card;

    width: 100%;
    margin-bottom: 10px;
    background-color: #f3f3f3;
    border: none;

    &__row{
        @extend .card-body, .row;
    }

    &__logo-container {
        @extend .col-6, .col-sm-2, .order-sm-1, .d-flex, .justify-content-center;
    }

    &__deal-container {
        @extend .col-6, .col-sm-3, .order-sm-3, .d-flex, .justify-content-center;
    }

    &__details {
        @extend .col-12, .col-sm-7, .order-sm-2;
    }

    &__logo {
        @extend .align-self-center, .img-fluid;

        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    &__name {
        color: $type-color;
        font-family: $title-font-stack;
        font-weight: bold;
        font-variant: small-caps;

        > a, a:hover {
            color: $primary-color;
        }

        > span {
            font-size: medium;
        }
    }

    &__rate-fees {
        @extend .text-muted;
        font-size: small;
    }

    &__deal {
        color: #2aa198;
        font-family: "Lato", Helvetica, sans-serif;
        font-weight: bold;
        font-size: 30px;

        @extend .align-self-center;
    }
}

.best-deal {
    background-color: $best-deal-background-color;
}

.wtem-results--loading {
    display: none;
}

.wtem-loading {
    @extend .text-center, .text-muted;

    padding: 20px;
}

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    } 25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    } 25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}
