@import '../shared/variables';

.wtem-content {
    @extend .container, .col-lg-8;

    padding: 60px 15px 0;
}

.wtem-main {
    margin-top: 2rem;
    margin-bottom: 3rem;

    &__title {
        color: $primary-color;
        font-family: $header-font-stack;
        font-weight: bold;
    }

    &__lead {
        color: $type-color;
        font-family: $title-font-stack;
        font-weight: normal;
    }
}

.wtem-content-block {
    margin-top: 60px;
    margin-bottom: 30px;
}

.wtem-content-block:last-of-type {
    padding-bottom: 10px;
}

.wtem-search {
    @extend .wtem-content-block, .justify-content-start;
    margin-bottom: -30px;

    &__form {
        @extend .row;
    }

    &__message {
        > p {
            color: $secondary-color;
        }
    }
}

.wtem-message__content {
    &--show {
        color: $warning-color;
    }

    &--hidden {
        color: $background-color;
    }
}

.wtem-results, .wtem-contact {
    @extend .wtem-content-block;

}

.wtem-bank__row {
    @extend .col-md-12, .row;
}

.wtem-mission {
    @extend .wtem-content-block;

    &__title {
        color: #3d4347;
        font-family: "Lato", Helvetica, sans-serif;
        font-weight: bold;
    }

    &__content{
    }
}
