.wtem-table {

  &__container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
  }

  &__promotion {
    background-color: $primary-color;
    border-radius: 4px;
    padding: 5px;
    color: white;
    box-shadow: 9px 8px 16px -6px rgba(0,0,0,0.28);
  }

  &__promotion_container {
    width: 300px;
    min-height: 200px;
  }

  &__title {
    justify-content:center;
    align-content:center;
    flex-direction:column;
    display: flex;

    &--small {
      font-size: 1.1em;
      font-weight: 300;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100%;
    }

    &--large {
      margin-right: 20px;
      margin-left: 10px;
      font-size: 1.4em;
      font-weight: 400;
    }
  }

  &__header {
    margin-top: 30px;
    margin-bottom: 30px;

    &--small {
      font-size: 1.7em;
      font-weight: 200;
    }

    &--large {
      letter-spacing: 2px;
      font-size: 1.7em;
      font-weight: 400;
    }

    &--small-margin {
      margin-top: 10px;
    }
  }

  &__title_container {
    justify-content:center;
    align-content:center;
    flex-direction:row;
    display: flex;
  }

  &__price {
    margin-top: 15px;
    margin-bottom: 30px;

    &--small {
      justify-content:center;
      align-content:center;
      flex-direction:column;
      display: flex;
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 0.9em;
      font-weight: 300;
      width: 100%;
    }

    &--large {
      font-size: 1.3em;
      font-weight: 300;
    }
  }

  &__rate {
    margin-top: 15px;
    margin-bottom: 30px;

    &--small {
      justify-content:center;
      align-content:center;
      flex-direction:column;
      display: flex;
      margin-top: 5px;
      margin-bottom: 5px;
      font-weight: 300;
      font-size: 0.6em;
      width: 100%;
    }

    &--large {
      font-size: 1em;
      font-weight: 300;
    }
  }

  &__image_container {
    justify-content:center;
    align-content:center;
    flex-direction:row;
    display: flex;
  }

  &__image {
    justify-content:center;
    align-content:center;
    flex-direction:column;
    display: flex;

    &--small {
      height: 30px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &--large {
      height: 35px;
      margin-bottom: 10px;
    }
  }

  &__banks {
    display: flex;
    flex-direction:column;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 300px;
    width: 450px;
  }

  &__banks_container {
    min-height: 300px;
    width: 450px;
    z-index: -1;

    @media only screen and (max-width: 750px) {
      margin-top: 30px;
    }
  }

  &__bank {
    display: flex;
    flex-direction:row;
    justify-content:baseline;
    align-content:baseline;
    margin-left: 10px;
    margin-right: 10px;
  }

  &__horizontal_rule {
    margin-left: 0;
    margin-right: 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
}
