@import 'variables';

.wtem-table {
    @extend .table;

    tr:first-child {
        border-bottom: solid $border-color;
    }

    th {
        font-weight: bolder;
    }

    th, td {
        border-top: 0px;
    }
}
