// Font Stacks

$header-font-stack:  'Lato', Helvetica, sans-serif;
$title-font-stack:   'Lato', Helvetica, sans-serif;
$content-font-stack: 'Lato', Helvetica, sans-serif;

// Brand Colors

$primary-color:     #2aa198;
$secondary-color:   #3F51B5;
$warning-color:     #fd8f96;
$type-color:        #3d4347;
$input-color:       #2aa198;
$light-type-color:  #767676;
$border-color:      #ecf0f1;
$background-color:  #fdfdfd;
$best-deal-background-color:  #f5f5dc;
