.wtem-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */

    &__content {
        @extend .container, .col-lg-8, .d-flex, .justify-content-between;

        padding-right: 15px;
        padding-left: 15px;

        border-top: 1px solid $border-color;

        font-size: small;
        color: $light-type-color;
    }

    &__made {
        > span {
            margin-right: 3px;
        }
    }
}
