<div class="wtem-main" id="#exchange">
  <h1 class="wtem-main__title">Where to exchange money?</h1>
  <h2 class="wtem-main__lead">Easily find the best exchange rate for you.</h2>
</div>

<div class="wtem-search">
  <form class="wtem-search__form">
    <!-- amount -->
    <div class="wtem-form__amount">
      <div class="wtem-input__label">
        amount
      </div>
      <div class="wtem-input__group">
        <input id="amount" class="wtem-input__field" data-autonumeric='{"aSign":"<%= @presenter.from_currencies.first&.symbol || '$' %>","leadingZero":"deny","a_sep":",","a_dec":".","vMin":"0","vMax":"1000000"}' value="100" type="text">
      </div>
    </div>

    <!-- from -->
    <div class="wtem-form__from">
      <div class="wtem-input__label">
        from
      </div>

      <%= select_tag "from", options_from_collection_for_select(@presenter.from_currencies, "id", "code", @presenter.default_from_currency.id), class: 'wtem-input__select' %>
    </div>

    <!-- switcher -->
    <div class="wtem-form__switch">
      <button aria-label="switch currency" disabled></button>
    </div>

    <!-- to -->
    <div class="wtem-form__to">
      <div class="wtem-input__label">
        to
      </div>

      <%= select_tag "to", options_from_collection_for_select(@presenter.to_currencies, "id", "code", @presenter.default_to_currency.id), class: 'wtem-input__select' %>
    </div>
  </form>

  <div class="wtem-message__content wtem-message__content--hidden">
    <p>have a nice day :)</p>
  </div>


  <div class="wtem-loading">
    <div class="sk-folding-cube">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>

    <p>finding rates...</p>
  </div>
</div>

<div class="wtem-results wtem-results--loading">
  <!-- populate search results here -->
  <div class="wtem-exchange-rate-deals">
    <% @presenter.banks.each do |bank| %>
      <div class="wtem-bank" data-name="<%= bank.name %>" data-id="<%= bank.id %>" data-deal="">
        <div class="wtem-bank__row">

          <div class="wtem-bank__logo-container">
            <%= image_tag("#{bank.name}.png", class: "wtem-bank__logo") %>
          </div>

          <div class="wtem-bank__deal-container">
            <div class="wtem-bank__deal">
              deal
            </div>
          </div>

          <div class="wtem-bank__details">
            <h3 class="wtem-bank__name"><a href="<%= bank.url %>"><%= bank.name %></a> <span class="wtem-bank__remark">remark</span></h3>
            <div class="wtem-bank__rate-fees">
              rate fees
            </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="wtem-mission" id="mission">
  <div class="wtem-mission__content">
    <p>
      <span class="wtem-mission__title">Our mission is simple</span>, to help people in New Zealand find the best deal when they are looking to exchange money.
    </p>
    <p>
      We hope that this tool will help you get some extra money for your holiday!
    </p>
    <p>
      Please note, while we update our rates regularly, we cannot guarantee the rate will not change by the time you arrive at the bank.
    </p>
  </div>
</div>
