@import "bootstrap";

@import "shared/variables";
@import "shared/input";
@import "shared/button";
@import "shared/table";

@import "content/content";
@import "content/bank";
@import "content/form";
@import "content/table";
@import "footer/footer";

html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: $content-font-stack;
    background-color: $background-color;

    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
