<footer class="wtem-footer">
  <div class="wtem-footer__content">

    <div class="wtem-footer__copy">
      &copy; Where To Exchange Money <span id="year-copy"></span>
    </div>

    <div class="wtem-footer__made">
      Made with <span>💖</span> in Wellington
    </div>

  </div>
</footer>
